:root {
    --road-width: 8px;
}

.map {
    margin: 100px;
}

.road {
    position: absolute;

    background-color: #181818;
}

.road-temp1 {
    width: 1440px;
    height: var(--road-width);
}

.road-temp2 {
    width: var(--road-width);
    height: 350px;
}
